body {
background-color: #272727;    
}

.qr {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .gerar {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    background-color: #00a000;
    color: #ffffff;
    cursor: pointer;
    width: 350px;
    height: 9vh;
  }
  
  .gerar_anterior {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    background-color: #505050;
    color: #ffffff;
    cursor: pointer;
    width: 350px;
    height: 10vh;
  }

  .totalFichas {
    font-family: 'Press Start 2P', cursive;
    font-size: 8px;
    color: #ffffff;
    width: 170px;
    height: 2vh;
  }

  .idFicha {
    font-family: 'Press Start 2P', cursive;
    font-size: 8px;
    color: #484848;
    position: absolute;
    bottom: 0%;
  }

  .aleatorioPalavra {
    font-family: 'Press Start 2P', cursive;
    font-size: 7px;
    color: #ffffff;
    position: absolute;
    position: absolute;
    bottom: 3.5%;
    right: 0.5%;
  }

  #aleatoriON {
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
    font-size: 7px;
    color: #ffffff;
    background-color: #008000;
    position: absolute;
    bottom: 1%;
    right: 1%;
    width: 40px;
    height: 2vh;
  }

  #aleatoriOFF {
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
    font-size: 7px;
    color: #ffffff;
    background-color: #FF0000;
    position: absolute;
    bottom: 1%;
    right: 1%;
    width: 40px;
    height: 2vh;
  }

  .visible {
    display: block;
  }
  
  .hidden {
    display: none;
  }
