html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #16161D;
  font-family: 'Press Start 2P', cursive;
  user-select: none;
}

#qr {
  position: fixed;
  left: 50%;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  top: 55%;
  width: 250px;
  height: 250px;
}


#gerar {
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Press Start 2P', cursive;
  font-size: large;
  background-color: #00a000;
  color: #ffffff;
  cursor: pointer;
  width: 70%;
  height: 10%;
}

#baixar {
  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Press Start 2P', cursive;
  font-size: large;
  background-color: #505050;
  color: #ffffff;
  cursor: pointer;
  width: 70%;
  height: 10%;
}


#aleatoriON {
  cursor: pointer;
  background-color: #FF0000;
  position: fixed;
  bottom: 1%;
  right: 1%;
  padding: 1px;
  font-size: medium;
}

#aleatoriOFF {
  font-size: medium;
  cursor: pointer;
  color: #ffffff;
  background-color: #008000;
  position: fixed;
  bottom: 1%;
  right: 1%;
  padding: 0;
}

.hidden {
  display: none;
}

#escrevaAlgo {
  position: fixed;
  font-size: large;
  color: #ffffff;
  top: 1%;
  width: 100%;
  height: 5%;
  text-align: center;
}

.nada {
  animation-duration: 0.5s;
  animation-name: vazio;
  border-radius: 10px;
}

@keyframes vazio {
  5% {
    left: 5%;
  }

  5% {
    background-color: red;
  }
}

#texto_usuario {
  border-radius: 10px;
  transform: translate(-50%, -50%);
  left: 50%;
  position: fixed;
  color: #008000;
  top: 7%;
  width: 90%;
  text-align: center;
  background-color: #ffffff;
}