html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #16161D;
  font-family: 'Press Start 2P', cursive;
}

#qr {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: min-content;
  border-radius: 15px;
  max-width: 300px;
  max-height: 300px;
}

#gerar {
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  background-color: #00a000;
  color: #ffffff;
  cursor: pointer;
  width: 350px;
  height: 9vh;
}

#baixar {
  position: fixed;
  bottom: 14%;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  background-color: #505050;
  color: #ffffff;
  cursor: pointer;
  width: 350px;
  height: 10vh;
}


#aleatoriON {
  font-size: large;
  cursor: pointer;
  color: #ffffff;
  background-color: #FF0000;
  position: fixed;
  bottom: 1%;
  right: 1%;
}

#aleatoriOFF {
  font-size: large;
  cursor: pointer;
  color: #ffffff;
  background-color: #008000;
  position: fixed;
  bottom: 1%;
  right: 1%;
}

.hidden {
  display: none;
}

#escrevaAlgo {
  position: fixed;
  font-size: large;
  color: #ffffff;
  top: 1%;
  transform: translate(-50%);
  left: 50%;
  width: max-content;
  user-select: none;
}

.nada {
  animation-duration: 0.5s;
  animation-name: vazio;
}

@keyframes vazio {
  5% {
    top: 5%;
  }

  5% {
    background-color: red;
  }
}

#texto_usuario {
  position: fixed;
  color: #008000;
  top: 7%;
  transform: translate(-50%);
  left: 50%;
  width: 90%;
}