@media (max-height:420px) {

    #gerar {
        left: 15%;
        top: 40%;
        width: 200px;
        height: 60px;
        text-align: center;
        font-size: medium;
    }

    #baixar {
        left: 85%;
        top: 40%;
        width: 200px;
        height: 60px;
        text-align: center;
        font-size: medium;
    }

    #aleatorioPalavra {
        bottom: 6%;

    }

    #aleatoriON {
        height: 14px;

    }

    #aleatoriOFF {
        height: 14px;

    }

    #qr_usuario {
        font-size: small;
        top: 1%;
        right: 30%;
    }
}

@media (max-width: 600px) {
    #qr_usuario {
        font-size: small;
    }
}

