@media (max-height:420px) {

  #texto_usuario {
    top: 14%;
  }

  #escrevaAlgo {
    font-size: small;
  }

  .conteudo {
    display: inline-flex;
    align-items: center;
    background-color: aqua;
    height: 0%;
    bottom: 0%;
  }

  #gerar {
    width: 200px;
    height: 70px;
  }

  #baixar {
    width: 200px;
    height: 70px;
  }

  #qr {
    width: 200px;
    height: 200px;
  }
}